.welcome {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

#marker {
    width: 0;
        height: 0;
        border-bottom: 10px solid grey;
        border-left: 0px solid transparent;
}

#h3 {
    padding-top: 10px;
}