body {
    font-family: brandon-regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-top: 120px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    /* background-color: #dbd5d5; */
    width: 40%;
    height: 250px;
    margin: 20px auto;
    padding-bottom: 25px;
    border-radius: 2px;
}

#Button {
    text-align: center;
    padding-top: 10px;
}

#TextField {
    text-align: center;
}

#MenuItem {
    overflow: visible;

}

#AddForm {
    column-count: 2;
    width: 70%;
    padding-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
}

.columnleft {
    width: 250px;
    float: left;
}

.columnright {
    width: 250px;
    float: right;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.connectorLink {
    color: black;
}

.linkBtn {
    width: 165px;
    height: 25px;
}

.log-in, .log-out, .register {
  background-color: #294A9A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .register:hover {
  /* color: black; */
  background-color: rgb(66, 103, 190);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: brandon-regular;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

ul {
    list-style-type: none;
    /* font-family: Helvetica, Arial, sans-serif; */
    width: 30%;
    margin: auto;
    padding: 15px;
    border-radius: 2px;
}

#CFlogo {
    padding-top: 33px;
    padding-left: 33px;
    position: fixed;
}

a {
    color: white;
    text-decoration: none;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Regular.otf');
    font-family: brandon-regular;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Medium.otf');
    font-family: brandon-medium;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Bold.otf');
    font-family: brandon-bold;
}