body {
    font-family: brandon-regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    /* background-color: #dbd5d5; */
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.connectorLink {
    color: black;
}

.linkBtn {
    width: 150px;
    height: 25px;
}

.log-in, .log-out, .register {
  background-color: #294A9A;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: brandon-regular;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

ul {
    list-style-type: none;
    /* font-family: Helvetica, Arial, sans-serif; */
    width: 30%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#CFlogo {
    padding-top: 33px;
    padding-left: 33px;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Regular.otf');
    font-family: brandon-regular;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Medium.otf');
    font-family: brandon-medium;
}

@font-face {
    src: url('./fonts/BrandonGrotesque-Bold.otf');
    font-family: brandon-bold;
}