.form {
    display: flex;
}
.set1 {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: grid;
}
.set2 { 
   width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: grid;

}

.submitBtn {
    width: 70px;
}

h1 {
    text-align: center;
    padding-top: 5px;
}

#AddForm {
    display: flex;        /* Lay out each item using flex layout */
    flex-flow: column;
    width: 66%;
    columns: 2;
}