footer {
    margin-top: 400px;
    display: flex;
}

#social {
    color: black;
    text-decoration: none;
}

img {
    height: 100px;
    width: 120px;
}

#box1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#box2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#box3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}