.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #294A9A;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #294A9A;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: brandon-regular;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}