.nav-title {
  font-family: brandon-bold;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;  
}

.nav {
  height: 100px;
  overflow: hidden;
  background-color: #294A9A;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #294A9A;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: brandon-regular;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  
}

.nav-link:hover {
  /* background-color: #008183; */
  background-color: rgb(66, 103, 190);

}

.bm-item {
  display: inline-block;


  /* Our sidebar item styling */
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

/* WORK ON SPACING */
.bm-menu {
  background-image: url('./banner-2-09.png');
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: -20px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-top: -20px;

}

a {
  color: white;
  margin-bottom: 150px;
}

a:hover {
  width: 100%;
  background-color: rgb(66, 103, 190);
}

.menu-item {
  text-decoration: none;
  color: white;
}

/* .menu-color {
  border: white solid ;
  border-width: 1px;
  border-radius: 20px;
} */

.outer-Container {
  pointer-events: none;
  border-color: wheat;
  border: wheat 2px solid;
} 

/* gets rid of the highlight box when items are clicked */
*:focus {
  outline: none;
}

.logoutButton {
  text-decoration: none;
  color: white;
}